.grid-comprar{
    text-align: center;
    display:grid;
    background-color: #DCEDC1;
    .galeria {
    display: grid;
    margin: 2.5rem;
    background-color: #b7f1b7;
    border: 5px solid rgb(16, 75, 40);
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
        .divBorder {
        border: 1.5rem solid $colorNav;
        }
        .tamañoImagen {
        width: 50%;
        height: 70%;
        padding-top: 4.0rem;
        padding-bottom: 2.5rem;
        }
        button{
            background-color: #32a832;
            width: 50%;
            height:auto;
        }
        button a{
            font-size: 1.8rem;
            color: #ffffff;
        }
    }
}