.footer{
	text-align: right;
	background-color: $colorBgHd;
	font-family: 'Varela Round'sans-serif;
	display: flex;
	flex-direction: column;
	font-size:1.8rem;
	padding-right: 1.5rem;
	.footer__terminos a:hover{
		color: $colorHover;
	}
	.footer__nav a:hover{
		color: $colorHover;
	}
	.footer__nav-redesSociales{
		color:$verdeOscuro;
	}
	.footer__nav-redesSociales li{
			list-style: circle;
			list-style-position: inherit;
			color:green;
	}
}