.header {
	/*background color y color de letra header*/
	background-color: $colorBgHd;
	color: $verdeh1;
	width: 100%;
	padding: 0;
	.header__logo {
		border: 1px solid black;
		width: 70px;
		height: 70px;
	}
	.header__nav {
		/*barra de navegacion menú*/
		background-color: $colorNav;
		display: flex;
		list-style: none;
		text-decoration: none;
		font-size: 2.0rem;
		.nav-item a{
		color: $verdeOscuro;
		font-size: 2.1rem;
		font-family: $font;
		padding-left: 2.0rem;
		text-decoration: none;
		}
		.dropdown-menu {
		list-style: none;
		}
		.dropdown-item {
		width: 100%;
		font-size: 1.5rem;
		background-color: $colorNav;
		}
		.nav-item a:hover {
		color: $colorHover;
		animation: flash;
		animation-duration:1s;
		}
		.nav-search{
		font-size: 2.1rem;
		width: 100%;
		}
	}
	h1 {
		text-align: center;
		font-size: 5.0rem;
		font-weight: bold;
		font-style: none;
		background-image: url("../media/images/fondo-perros.jpg");
		width: 100%;
		font-family: $font;
		padding-bottom: 0;
	}
}